.nav>li {
    display:inline-block;
}

.nav>li>a>a.active,.nav>li>a>a.active:hover,.nav>li>a>a.active:active  {
    color:#149DD9;
    text-decoration: underline;
}

.nav>li>a>a {
    color:black;
    text-decoration: none;
    font-size:1rem;
    text-transform: uppercase;
}

.nav-menu-mobile-col {
    padding: 0px;

}

#nav-menu-mobile-navbar{
    background:none;
    border:0px;
}

#nav-menu-mobile-nav {
    background:white;
    border: 0px;
    box-shadow: 0px 0px 5px black;
    margin: 0px -15px;
}

#nav-menu-navbar {
    background-color: white;
    border:0px;
    box-shadow:0px 0px 5px black;
}