.home-loading-container {
    display:block;
    position:relative;
    min-height:300px;
    transition: background 2s;
}

.load-blogs-btn{
    border-radius:25px;
    background:#149DD9;
    color:white;
    border:0px;
    margin:0px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}