.home-loading-container {
    margin:50px auto;
    display:block;
    position:relative;
}

.load-blogs-btn{
    margin:50px;
    border-radius:25px;
    background:#1EAEDB;
    color:white;
    border:0px;
    font-family: 'Comfortaa', cursive;
}