footer {
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background:white;
    z-index:1;
}

footer img {
    height: 2rem;
    width: 2rem;
}

footer .navbar {
    margin-bottom: 0px;
}

footer #icons>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

footer #icons {
    margin: 0px -15px;
}

footer .navbar-collapse {
    display: block !important;
}

footer .nav-footer-desktop {
    display: inline-block;
    float: right !important;
    width: auto;
}

#footer-menu {
    background: white;
    border: 0px;
    box-shadow: 0px 0px 5px black;
}