footer {
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background:white;
    z-index:1;
}

footer img {
    height: 2rem;
    width: 2rem;
}

footer .navbar {
    margin-bottom: 0px;
}

footer .navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}