.gallery-loading-container {
    display:block;
    position:relative;
    /*min-height:100px;*/
    transition: background 2.5s;
}

@media (max-width: 768px) {
    .gallery-container {
        padding:0px;
    }
}

#gallery-h1 {
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}