.blog-fix {
    margin: 0px 35px 35px;
    display:block;
}

.bloggrid-container {
    width:100%;
    position: relative;
    display: block;
    background:white;
    z-index:1;
}
.grid-item{
    box-shadow:1px 1px 4px 1px black;
}

.blog-pic-fix {
    margin: 0px -35px 35px;
}

.blog-title{
    color:black;
    margin:5px 0px;
    font-size:1.7rem;
    font-weight:100;
    text-transform:uppercase;
    transition:color 2s;
    cursor: pointer;
    text-align: left;
    line-height:30px;
}

.blog-title:hover {
    color:#149DD9;
}

.blog-preview-text{
    text-align:left;
    line-height:23px;
    font-size:1rem;
}

.prevent_a {
    text-decoration-line: none;
}

.readmore{
    color:#149DD9;
    font-size:1rem;
    font-weight:400;
    text-decoration-line: none;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    display:block;
}