.project-grid-preview-container {
    width:100%;
    position: relative;
    display: block;
    background:white;
    z-index:1;
}

.project-grid-preview-item{
    box-shadow:1px 1px 1px 1px black;
}

