.cancom-global-gallery-wrapper {
    height: 100%; width: 100%;
    background: white;
    left: 0px; top: 0px;
    position: fixed; display:none;
    z-index: 10000; opacity:0;
    background:white;

    .cancom-global-socialmedia-corp-section {
      margin:0px 0px 50px 25px !important;
    }

    .cancom-global-gallery-img-section {
        height: calc(100% - 15%); width: 100%;
        position: relative; display: block;

        white-space:nowrap;

        @media #{$breakpoint_lg} { height: calc(100%  - 20%); }

        @media #{$breakpoint_lg} and (max-height: 768px) { height: 100%; }


        .cancom-global-gallery-prev-btn {
            height: 80px; width: 80px;
            top: calc(50% - 40px); left: 30px;
            position: absolute; display: block;
            cursor:pointer; z-index:100001;

            @media #{$breakpoint_sm} { left:0px; }

        }
        .cancom-global-gallery-next-btn {
            height: 80px; width: 80px;
            top: calc(50% - 40px); right: 30px;
            position: absolute; display: block;
            cursor:pointer; z-index:100001;

            @media #{$breakpoint_sm} { right:0px; }
        }
        .cancom-global-gallery-close-btn {
            height: 40px; width: 40px;
            top: 20px; right: 20px;
            position: absolute; display:block;
            background-size: cover !important;
            cursor:pointer; z-index:100001;
        }

        .cancom-global-gallery-imgmove{
            height: 100%; width: 100%;
            position: relative; display: block;
            .cancom-global-gallery-imgwrapper {
                height: 100%; width: 100%;
                display:inline-block; position:relative;

                &.cancom-global-gallery-vidwrapper{
                    display:table;
                }


                &.opacity-animation {
                    opacity:0;
                    position:absolute !important;

                    &:first-child {
                        opacity: 1 ;
                    }
                }

                .cancom-global-gallery-img {
                    height: 70%; width: 50%;
                    top: calc( 50% - 35%); left:25%;
                    position: relative;
                    background-size: cover !important;

                    @media #{$breakpoint_lg} { height:70%; width:100%; top: calc( 50% - 35%); left:0px; }
                    @media #{$breakpoint_sm} { height:50%; top: calc( 50% - 25% ); }
                }

                .cancom-global-gallery-video-wrapper{
                    display: table-cell;
                    vertical-align: middle;
                    .cancom-global-gallery-video{
                        position: relative;
                        width: 50%;
                        left: 25%;
                        &:before{
                            display: block;
                            content: "";
                            width: 100%;
                            padding-top: 56.25%;
                        }
                        iframe{
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }

                        @media #{$breakpoint_lg}{width: 100%; left: 0%;}
                        @media #{$breakpoint_sm}{width: 100%; left: 0%;}
                    }
                }
                iframe {
                    z-index: 1000;
                }


            }
        }
        .cancom-global-socialmedia-corp-section {
            position: absolute;
            bottom: 0;
            margin: 0px 25px;
            .cancom-global-socialmedia-lp-btn{
                background: url('../img/lp/share_interactive_ccc.svg') center center no-repeat;
                cursor: pointer;
                background-size: contain;
                width: 40px;
                height: 40px;
                position: absolute;
            }
            .cancom-global-socialmedia-lp-wrapper{
                height: 45px;
                ul{
                    display: none;
                    position: relative;
                    z-index: 121;
                    margin: 0px;
                    padding: 0px;
                    margin-left: 40px;
                    padding-top: 10px;
                    overflow: hidden;
                    height: 35px;
                    li{
                        float: left;
                        height: 35px;
                        padding-left: 8px;
                        list-style-type: none;
                        a{
                            background-size: contain;
                            width: 57px;
                            height: 30px;
                        }
                        .cancom-global-socailmedia-share-facebook{
                            background: url('../img/lp/facebook.svg') top center no-repeat;
                            margin-top: 1px;
                        }
                        .cancom-global-socailmedia-share-twitter{
                            background: url('../img/lp/twitter.svg') top center no-repeat;
                            margin-top: 1px;
                        }
                        .cancom-global-socailmedia-share-google{
                            background: url('../img/lp/google+.svg') top center no-repeat;
                            margin-top: 1px;
                        }
                        .cancom-global-socailmedia-share-xing{
                            background: url('../img/lp/xing.svg') top center no-repeat;
                            margin-top: 1px;
                        }
                        .cancom-global-socailmedia-share-linked{
                            background: url('../img/lp/linked.svg') top center no-repeat;
                            margin-top: 1px;
                        }
                    }
                }
            }
        }
    }

    .cancom-global-gallery-border {
        height:1px; width: calc(100% - 50px);
        margin: 0px 25px;
        position: relative;
        background: #dadada;

        @media #{$breakpoint_sm} { display: none; visibility: hidden; }
    }

    .cancom-global-gallery-thumbnail-section {
        height: calc(100% - 85%); width: calc(50% - 40px);
        padding:0px 50px;
        position: relative; display: inline-block;

        white-space:nowrap;

        @media #{$breakpoint_lg} { height:calc(100% - 80%); width: calc(100% - 40px); }
        @media #{$breakpoint_lg} and (max-height: 768px) { display:none; visibility:hidden; }
        @media #{$breakpoint_sm} { display:none; visibility:hidden; }


        .cancom-global-gallery-lightbox-links {
            height: 40px; width: 40px;
            top: calc(50% - 20px); left: -30px;
            position: absolute; display: block;
            cursor:pointer; z-index:100001;

            @media #{$breakpoint_lg} { left: 10px; }
        }
        .cancom-global-gallery-lightbox-rechts {
            height: 40px; width: 40px;
            top: calc(50% - 20px); right: -30px;
            position: absolute; display: block;
            cursor:pointer; z-index:100001;
        }

        .cancom-global-gallery-thumbnail-section-fix {
            height: 100%; width: 100%;
            position: relative;
            overflow: hidden;

            .cancom-global-gallery-thumbmove {
                height: 100%; width: 100%;
                position: relative; display: block;

                .cancom-global-gallery-thumbwrapper {
                    width: calc(100% / 5);
                    height: calc(100% - 40px);
                    position: relative;
                    display: inline-block;
                    margin: 20px;

                    cursor:pointer;

                    .cancom-global-gallery-thumb {
                        width: 100%; height: 100%;
                        background-size:cover !important;
                        position:relative;
                    }
                }

                .active_thumb{
                    opacity:0.5;
                }
            }
        }
    }

    .cancom-global-gallery-content-section {
        height: calc(100% - 85%); width: 50%;
        padding: 0px 70px;
        position: relative;
        display: inline-block;
        background:white;
        z-index:10;

        @media #{$breakpoint_lg} { display:none; visibility:hidden; }

        .cancom-global-gallery-contentwrapper {
            height:100%; width:100%;
            top:0px; left:0px;
            padding:25px;
            position:relative;

            &.opacity-animation {
                opacity:0;
                position:absolute !important;

                &:first-child {
                    opacity: 1 ;
                }
            }

            .cancom-global-gallery-title {
                margin:0px 0px 30px 0px;
            }

            .cancom-global-gallery-description {

            }
        }
    }

}
